
@{
    ViewData["Title"] = "Browse Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LinkedList<BurnBuilder.Models.Card>
   
 <style>
     form {
         border: 2px dashed;
         border-radius: 5px;
         padding: 10px;
         box-sizing: content-box;
         width: 500px;
         height: 560px;
         background-color: #F5F5F5;
         text-align: inherit;
     }
        label {
            padding: 20px
        }

    </style>

<h1>Browse Cards</h1>
<br />

@*Form for user to fill out to find a card they want to look at
<form>
    <label>Name: </label>
    <select name="cardName" id="cardSelect">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <<label>Colors: </label>
    <select name="cardColor" id="cardSelect">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <input type="button" value="search" id="searchButton" /><br />
</form>

The results will be displayed here
<label>Results: </label>
div class="card" style="width: 20rem;">
<div class="card-body">
    <h5 class="card-title">Deck title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>*@


@foreach (Card card in Model)
{
<form>
    <img src="@card.ImageUrl" alt="@card.Name" align="left"><br />
    <label><b>Name: </b>@card.Name </label><br />
    <label><b>Colors: </b>@card.ManaCost </label><br />
    <label><b>Type: </b>@card.Type </label><br />
    <label><b>Rarity: </b>@card.Rarity </label><br />
    <label><b>Text: </b>@card.Text</label><br />

    @*<input type="button" value="search" id="searchButton" /><br />*@
</form>
<br />
}
