
@{
    ViewData["Title"] = "Browse Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LinkedList<BurnBuilder.Models.Card>
   
 <style>
     form {
         border: 2px dashed;
         border-radius: 5px;
         padding: 10px;
         box-sizing: content-box;
         width: 500px;
         height: 560px;
         background-color: #F5F5F5;
         text-align: inherit;
     }
        label {
            padding: 20px
        }

    </style>

<h1>Browse Cards</h1>
<br />

@*Form for user to fill out to find a card they want to look at
<form>
    <label>Name: </label>
    <select name="cardName" id="cardSelect">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <<label>Colors: </label>
    <select name="cardColor" id="cardSelect">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
    </select>
    <input type="button" value="search" id="searchButton" /><br />
</form>

The results will be displayed here
<label>Results: </label>
div class="card" style="width: 20rem;">
<div class="card-body">
    <h5 class="card-title">Deck title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Deck subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>*@


@foreach (Card card in Model)
{
<form>
    <fieldset>
        <legend>Name: @card.Name</legend>
        <label>Colors: @card.ManaCost </label><br />
        <label>Type: @card.Type </label><br />
        <label>Rarity: @card.Rarity </label><br />
        <label>Text: @card.Text</label><br />
        <img src="@card.ImageUrl" alt="@card.Name"><br />
        <div>Qty:</div>
        <input type="checkbox" value="check me" />
        <select name="Amount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <div>To:</div>
        <select name="Decks">
            <option value="1">Deck 1</option>
            <option value="2">Deck 2</option>
            <option value="3">Deck 3</option>
            <option value="4">Deck 4</option>
            <option value="5">Deck 5</option>
        </select>
        <input type="submit" value="Add To Deck" /><br />
    </fieldset>
</form>
<br />
}
