@{
    ViewData["Title"] = "Admin Page";
}
@model BurnBuilder.Models.User
@*  cmd.Parameters.AddWithValue("@EmailAddress", user.EmailAddress);
    cmd.Parameters.AddWithValue("@Password", user.Password);
    cmd.Parameters.AddWithValue("@FirstName", user.FirstName);
    cmd.Parameters.AddWithValue("@LastName", user.LastName);
    cmd.Parameters.AddWithValue("@Created", user.Created);*@

    <p>Welcome @Model.FirstName, please go to the "Home" page and log in.</p>